a {
    color: pink;
}

body {
    background-color: black;
    color: white;
}

input {
    background-color: inherit;
    color: palevioletred;
}

.padded-field {
    background-color: inherit;
    border: none;
    border-radius: 4px;
    color: palevioletred;
}

.padded-field:focus {
    outline-color: palevioletred;
}