<!DOCTYPE html>
<html>

<head>

    {{template "stylesheets.html" .}}
    <meta charset="UTF-8">
    {{template "scripts.html"}}
    <script src="/script/player/password.js"></script>
    <script src="/script/player/register.js"></script>
    <title>{{template "title"}}</title>

    <script>

        function submitRegister(event) {

            event.preventDefault();
            registerPlayer({
                Name: document.getElementById("name").value,
                Password: document.getElementById("password").value
            }).
            then(d => {
                document.getElementById("error").innerText = d.Error || "";
            });
            return false;

        }

    </script>

</head>

<body>

    <header class="main-content">
        <h1>{{template "title"}}</h1>
    </header>

    <form class="main-content" onsubmit="submitRegister(event)">
        <input type="text" name="name" placeholder="Player Name" id="name" required><br>
        <input type="password" name="password" placeholder="Password" id="password" required><br>
        <button type="submit">Enter</button>
        <button onclick="setRandomPassword('password')">Generate Password</button>
        <p id="error"></p>
    </form>

    {{template "footer.html" .}}

</body>

</html>